
/* iPhone */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {

    /* LOGO */
    .homepage-container  >  .logo  > img {
      position: absolute;
      top:50%;
      left: 50%;
      width: 35%;
      transform: translateY(-50%) translateX(-50%);
    }
    /*Hamburger Menu*/
    .homepage-container > a > img {
      position: absolute;
      top:50%;
      left: 50%;
      width:10%;
      transform: translateY(-50%) translateX(-50%);
    }
    /* Side Navigation */
    #menu > ul >li > a{
    color: white;
    font-size: 4.0em;
    margin-left: 15%;
    font-family: "Helvetica Neue", sans-serif;
  }


}
