
html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;

}


.homepage-container {
  height:100vh;
  width:100vw;
  background-image: url('../img/bg-img/img-1.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
}



/* LOGO */
.homepage-container > a > img {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
/* HAMBURGER MENU */
.homepage-container > a:nth-of-type(2){
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width:100%;
}


/* Side Navigation */
  #menu > ul > li {
    /* spacing between elements within nav */
    padding-top: 5%;
  }

  #menu > ul >li > a{
  color: white;
  font-size: 2.0em;
  margin-left: 15%;
  font-family: "Helvetica Neue", sans-serif;
}


.panel {
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

.wrap {
    position: relative;
}
